# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('../Starter_Code/Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df[:5]

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
applicant_data_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

c:\Users\donjm\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns= enc.get_feature_names_out(categorical_variables)
)    

# Review the DataFrame
encoded_df[:5]

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df_combined = pd.concat(
    [
        applicant_data_df[['STATUS','ASK_AMT','IS_SUCCESSFUL']],
        encoded_df
    ],
    axis=1
)


# Review the Dataframe
encoded_df_combined[:5]

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df_combined['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df_combined.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [14]:
X_train.dtypes

STATUS                        int64
ASK_AMT                       int64
APPLICATION_TYPE_T10        float64
APPLICATION_TYPE_T12        float64
APPLICATION_TYPE_T13        float64
                             ...
INCOME_AMT_25000-99999      float64
INCOME_AMT_50M+             float64
INCOME_AMT_5M-10M           float64
SPECIAL_CONSIDERATIONS_N    float64
SPECIAL_CONSIDERATIONS_Y    float64
Length: 116, dtype: object

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 10

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features+number_output_neurons)//2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

63

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1+number_output_neurons)//2


# Review the number hidden nodes in the second layer
hidden_nodes_layer2

36

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [22]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(1, activation= 'sigmoid'))

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 63)                7371

 dense_1 (Dense)             (None, 36)                2304

 dense_2 (Dense)             (None, 1)                 37

=================================================================
Total params: 9712 (37.94 KB)
Trainable params: 9712 (37.94 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5719 - accuracy: 0.7216
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5526 - accuracy: 0.7298
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7297
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5469 - accuracy: 0.7320
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7329
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7329
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7337
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7360
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7362
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7360
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7363
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7355
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7362
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7360
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7369
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7367
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7361
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7374
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7372
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7376
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7378
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7370
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7380
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7386
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7388
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7392
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7389
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7386
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7391
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7389
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7407
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7398
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7406
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7400
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7410
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7402
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7397
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7405

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5538 - accuracy: 0.7304 - 749ms/epoch - 3ms/step
Loss: 0.5538457036018372, Accuracy: 0.7303789854049683

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [30]:
# Set the model's file path
file_path = 'AlphabetSoup.h5'

# Export your model to a HDF5 file
nn.save(file_path)

c:\Users\donjm\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [31]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [32]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 22

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 12

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

12

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [37]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu")
)


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1

In [38]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [43]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X, y, validation_split=0.3, epochs=50)

Epoch 1/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2235 - mse: 0.2235 - val_loss: 0.6340 - val_mse: 0.6340
Epoch 2/50
751/751 [==============================] - 2s 2ms/step - loss: 0.4897 - mse: 0.4897 - val_loss: 0.2529 - val_mse: 0.2529
Epoch 3/50
751/751 [==============================] - 2s 3ms/step - loss: 0.2212 - mse: 0.2212 - val_loss: 0.2479 - val_mse: 0.2479
Epoch 4/50
751/751 [==============================] - 2s 3ms/step - loss: 0.3248 - mse: 0.3248 - val_loss: 296.9930 - val_mse: 296.9930
Epoch 5/50
751/751 [==============================] - 2s 2ms/step - loss: 20.8924 - mse: 20.8924 - val_loss: 13.1874 - val_mse: 13.1874
Epoch 6/50
751/751 [==============================] - 2s 2ms/step - loss: 0.3396 - mse: 0.3396 - val_loss: 0.4780 - val_mse: 0.4780
Epoch 7/50
751/751 [==============================] - 2s 3ms/step - loss: 0.8603 - mse: 0.8603 - val_loss: 286.1021 - val_mse: 286.1021
Epoch 8/50
751/751 [==============================] - 2s 3ms/step - loss: 0.9826 - mse: 0.9826 - val_loss: 0.2760 - val_mse: 0.2760
Epoch 9/50
751/751 [==============================] - 1s 2ms/step - loss: 0.3145 - mse: 0.3145 - val_loss: 0.2414 - val_mse: 0.2414
Epoch 10/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2195 - mse: 0.2195 - val_loss: 4.5312 - val_mse: 4.5312
Epoch 11/50
751/751 [==============================] - 2s 3ms/step - loss: 0.6520 - mse: 0.6520 - val_loss: 0.3036 - val_mse: 0.3036
Epoch 12/50
751/751 [==============================] - 2s 3ms/step - loss: 0.2201 - mse: 0.2201 - val_loss: 0.2453 - val_mse: 0.2453
Epoch 13/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2123 - mse: 0.2123 - val_loss: 0.2405 - val_mse: 0.2405
Epoch 14/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2110 - mse: 0.2110 - val_loss: 0.2587 - val_mse: 0.2587
Epoch 15/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2108 - mse: 0.2108 - val_loss: 0.3419 - val_mse: 0.3419
Epoch 16/50
751/751 [==============================] - 2s 3ms/step - loss: 0.2345 - mse: 0.2345 - val_loss: 0.5348 - val_mse: 0.5348
Epoch 17/50
751/751 [==============================] - 2s 3ms/step - loss: 0.2118 - mse: 0.2118 - val_loss: 0.2275 - val_mse: 0.2275
Epoch 18/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2016 - mse: 0.2016 - val_loss: 0.2282 - val_mse: 0.2282
Epoch 19/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2110 - mse: 0.2110 - val_loss: 0.2285 - val_mse: 0.2285
Epoch 20/50
751/751 [==============================] - 2s 3ms/step - loss: 7606.9409 - mse: 7606.9409 - val_loss: 3659.8721 - val_mse: 3659.8721
Epoch 21/50
751/751 [==============================] - 2s 3ms/step - loss: 2595291.5000 - mse: 2595291.5000 - val_loss: 2236.8364 - val_mse: 2236.8364
Epoch 22/50
751/751 [==============================] - 2s 2ms/step - loss: 17.7726 - mse: 17.7726 - val_loss: 1.8533 - val_mse: 1.8533
Epoch 23/50
751/751 [==============================] - 2s 2ms/step - loss: 0.3335 - mse: 0.3335 - val_loss: 0.3236 - val_mse: 0.3236
Epoch 24/50
751/751 [==============================] - 2s 2ms/step - loss: 0.3209 - mse: 0.3209 - val_loss: 0.3167 - val_mse: 0.3167
Epoch 25/50
751/751 [==============================] - 2s 3ms/step - loss: 0.3136 - mse: 0.3136 - val_loss: 0.3069 - val_mse: 0.3069
Epoch 26/50
751/751 [==============================] - 2s 3ms/step - loss: 0.3044 - mse: 0.3044 - val_loss: 0.3028 - val_mse: 0.3028
Epoch 27/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2957 - mse: 0.2957 - val_loss: 0.2883 - val_mse: 0.2883
Epoch 28/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2886 - mse: 0.2886 - val_loss: 0.2798 - val_mse: 0.2798
Epoch 29/50
751/751 [==============================] - 2s 3ms/step - loss: 0.2782 - mse: 0.2782 - val_loss: 0.2784 - val_mse: 0.2784
Epoch 30/50
751/751 [==============================] - 2s 3ms/step - loss: 0.3169 - mse: 0.3169 - val_loss: 0.2821 - val_mse: 0.2821
Epoch 31/50
751/751 [==============================] - 2s 2ms/step - loss: 63.2797 - mse: 63.2797 - val_loss: 24.8097 - val_mse: 24.8097
Epoch 32/50
751/751 [==============================] - 2s 2ms/step - loss: 0.4011 - mse: 0.4011 - val_loss: 0.2770 - val_mse: 0.2770
Epoch 33/50
751/751 [==============================] - 2s 3ms/step - loss: 0.2526 - mse: 0.2526 - val_loss: 2.7654 - val_mse: 2.7654
Epoch 34/50
751/751 [==============================] - 2s 3ms/step - loss: 8.3412 - mse: 8.3412 - val_loss: 0.8694 - val_mse: 0.8694
Epoch 35/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2569 - mse: 0.2569 - val_loss: 0.2657 - val_mse: 0.2657
Epoch 36/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2515 - val_mse: 0.2515
Epoch 37/50
751/751 [==============================] - 2s 2ms/step - loss: 3531.4626 - mse: 3531.4626 - val_loss: 6335697.0000 - val_mse: 6335697.0000
Epoch 38/50
751/751 [==============================] - 2s 3ms/step - loss: 28858.9121 - mse: 28858.9121 - val_loss: 2.0750 - val_mse: 2.0750
Epoch 39/50
751/751 [==============================] - 2s 3ms/step - loss: 0.3210 - mse: 0.3210 - val_loss: 0.3330 - val_mse: 0.3330
Epoch 40/50
751/751 [==============================] - 1s 2ms/step - loss: 0.2916 - mse: 0.2916 - val_loss: 0.3228 - val_mse: 0.3228
Epoch 41/50
751/751 [==============================] - 1s 2ms/step - loss: 0.2752 - mse: 0.2752 - val_loss: 0.3013 - val_mse: 0.3013
Epoch 42/50
751/751 [==============================] - 2s 3ms/step - loss: 0.2642 - mse: 0.2642 - val_loss: 0.3009 - val_mse: 0.3009
Epoch 43/50
751/751 [==============================] - 2s 3ms/step - loss: 0.2548 - mse: 0.2548 - val_loss: 0.2674 - val_mse: 0.2674
Epoch 44/50
751/751 [==============================] - 2s 2ms/step - loss: 0.3652 - mse: 0.3652 - val_loss: 31.5539 - val_mse: 31.5539
Epoch 45/50
751/751 [==============================] - 2s 3ms/step - loss: 4.5379 - mse: 4.5379 - val_loss: 3431.6982 - val_mse: 3431.6982
Epoch 46/50
751/751 [==============================] - 2s 3ms/step - loss: 3.0304 - mse: 3.0304 - val_loss: 0.2521 - val_mse: 0.2521
Epoch 47/50
751/751 [==============================] - 3s 4ms/step - loss: 0.2486 - mse: 0.2486 - val_loss: 0.2580 - val_mse: 0.2580
Epoch 48/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2484 - mse: 0.2484 - val_loss: 0.2544 - val_mse: 0.2544
Epoch 49/50
751/751 [==============================] - 2s 2ms/step - loss: 0.2496 - mse: 0.2496 - val_loss: 0.2550 - val_mse: 0.2550
Epoch 50/50
751/751 [==============================] - 2s 3ms/step - loss: 0.3550 - mse: 0.3550 - val_loss: 0.4107 - val_mse: 0.4107

#### Alternative Model 2

In [40]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [44]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 20

In [45]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

10

In [46]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [47]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu")
)


# Output layer
nn_A2.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A2

In [48]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [49]:
# Fit the model
fit_model_A2 = nn_A2.fit(X, y, validation_split=0.3, epochs=50)

Epoch 1/50
751/751 [==============================] - 2s 2ms/step - loss: 416892682240.0000 - mse: 416892682240.0000 - val_loss: 101348104.0000 - val_mse: 101348104.0000
Epoch 2/50
751/751 [==============================] - 1s 2ms/step - loss: 145911.8906 - mse: 145911.8906 - val_loss: 8.1342 - val_mse: 8.1342
Epoch 3/50
751/751 [==============================] - 1s 2ms/step - loss: 3.0209 - mse: 3.0209 - val_loss: 83.4907 - val_mse: 83.4907
Epoch 4/50
751/751 [==============================] - 1s 2ms/step - loss: 1.7072 - mse: 1.7072 - val_loss: 1.3754 - val_mse: 1.3754
Epoch 5/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5541 - mse: 0.5541 - val_loss: 1.3631 - val_mse: 1.3631
Epoch 6/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5422 - mse: 0.5422 - val_loss: 1.3464 - val_mse: 1.3464
Epoch 7/50
751/751 [==============================] - 1s 2ms/step - loss: 17990460.0000 - mse: 17990460.0000 - val_loss: 278451585024.0000 - val_mse: 278451585024.0000
Epoch 8/50
751/751 [==============================] - 1s 2ms/step - loss: 423874101248.0000 - mse: 423874101248.0000 - val_loss: 72539952.0000 - val_mse: 72539952.0000
Epoch 9/50
751/751 [==============================] - 1s 2ms/step - loss: 1203534.3750 - mse: 1203534.3750 - val_loss: 552.2592 - val_mse: 552.2592
Epoch 10/50
751/751 [==============================] - 2s 2ms/step - loss: 12.0989 - mse: 12.0989 - val_loss: 10.5180 - val_mse: 10.5180
Epoch 11/50
751/751 [==============================] - 2s 3ms/step - loss: 8.7159 - mse: 8.7159 - val_loss: 10.1768 - val_mse: 10.1768
Epoch 12/50
751/751 [==============================] - 2s 2ms/step - loss: 19.5526 - mse: 19.5526 - val_loss: 6802.7119 - val_mse: 6802.7119
Epoch 13/50
751/751 [==============================] - 1s 2ms/step - loss: 1183109.1250 - mse: 1183109.1250 - val_loss: 25275964.0000 - val_mse: 25275964.0000
Epoch 14/50
751/751 [==============================] - 1s 2ms/step - loss: 585104752640.0000 - mse: 585104752640.0000 - val_loss: 24864059392.0000 - val_mse: 24864059392.0000
Epoch 15/50
751/751 [==============================] - 1s 2ms/step - loss: 290240160.0000 - mse: 290240160.0000 - val_loss: 38620.7852 - val_mse: 38620.7852
Epoch 16/50
751/751 [==============================] - 2s 3ms/step - loss: 214.1291 - mse: 214.1291 - val_loss: 156.8338 - val_mse: 156.8338
Epoch 17/50
751/751 [==============================] - 2s 3ms/step - loss: 18.2937 - mse: 18.2937 - val_loss: 32.5231 - val_mse: 32.5231
Epoch 18/50
751/751 [==============================] - 1s 2ms/step - loss: 18.9012 - mse: 18.9012 - val_loss: 6.2646 - val_mse: 6.2646
Epoch 19/50
751/751 [==============================] - 1s 2ms/step - loss: 277.6875 - mse: 277.6875 - val_loss: 44882.8008 - val_mse: 44882.8008
Epoch 20/50
751/751 [==============================] - 2s 2ms/step - loss: 62218016.0000 - mse: 62218016.0000 - val_loss: 6597497.5000 - val_mse: 6597497.5000
Epoch 21/50
751/751 [==============================] - 2s 2ms/step - loss: 220316663808.0000 - mse: 220316663808.0000 - val_loss: 745231089664.0000 - val_mse: 745231089664.0000
Epoch 22/50
751/751 [==============================] - 2s 3ms/step - loss: 12173329408.0000 - mse: 12173329408.0000 - val_loss: 8227.0186 - val_mse: 8227.0186
Epoch 23/50
751/751 [==============================] - 1s 2ms/step - loss: 789642.0625 - mse: 789642.0625 - val_loss: 35757040.0000 - val_mse: 35757040.0000
Epoch 24/50
751/751 [==============================] - 1s 2ms/step - loss: 2155262976.0000 - mse: 2155262976.0000 - val_loss: 1079346048.0000 - val_mse: 1079346048.0000
Epoch 25/50
751/751 [==============================] - 1s 2ms/step - loss: 65327304704.0000 - mse: 65327304704.0000 - val_loss: 877902592.0000 - val_mse: 877902592.0000
Epoch 26/50
751/751 [==============================] - 2s 2ms/step - loss: 159880112.0000 - mse: 159880112.0000 - val_loss: 1395966848.0000 - val_mse: 1395966848.0000
Epoch 27/50
751/751 [==============================] - 2s 3ms/step - loss: 907253317632.0000 - mse: 907253317632.0000 - val_loss: 6028769792.0000 - val_mse: 6028769792.0000
Epoch 28/50
751/751 [==============================] - 2s 2ms/step - loss: 30103926.0000 - mse: 30103926.0000 - val_loss: 1556.8691 - val_mse: 1556.8691
Epoch 29/50
751/751 [==============================] - 1s 2ms/step - loss: 7.9898 - mse: 7.9898 - val_loss: 4.6665 - val_mse: 4.6665
Epoch 30/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1805 - mse: 1.1805 - val_loss: 4.6634 - val_mse: 4.6634
Epoch 31/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1809 - mse: 1.1809 - val_loss: 64.7475 - val_mse: 64.7475
Epoch 32/50
751/751 [==============================] - 2s 3ms/step - loss: 5.8214 - mse: 5.8214 - val_loss: 2.3743 - val_mse: 2.3743
Epoch 33/50
751/751 [==============================] - 2s 2ms/step - loss: 1.1194 - mse: 1.1194 - val_loss: 4.9027 - val_mse: 4.9027
Epoch 34/50
751/751 [==============================] - 1s 2ms/step - loss: 1.3689 - mse: 1.3689 - val_loss: 14104.6484 - val_mse: 14104.6484
Epoch 35/50
751/751 [==============================] - 1s 2ms/step - loss: 3753041664.0000 - mse: 3753041664.0000 - val_loss: 530722521088.0000 - val_mse: 530722521088.0000
Epoch 36/50
751/751 [==============================] - 1s 2ms/step - loss: 175950069760.0000 - mse: 175950069760.0000 - val_loss: 425.1740 - val_mse: 425.1740
Epoch 37/50
751/751 [==============================] - 2s 2ms/step - loss: 4.7529 - mse: 4.7529 - val_loss: 678.1403 - val_mse: 678.1403
Epoch 38/50
751/751 [==============================] - 2s 3ms/step - loss: 372.9134 - mse: 372.9134 - val_loss: 4.2651 - val_mse: 4.2651
Epoch 39/50
751/751 [==============================] - 1s 2ms/step - loss: 3.6502 - mse: 3.6502 - val_loss: 45.2533 - val_mse: 45.2533
Epoch 40/50
751/751 [==============================] - 1s 2ms/step - loss: 113355.1328 - mse: 113355.1328 - val_loss: 436912.1250 - val_mse: 436912.1250
Epoch 41/50
751/751 [==============================] - 1s 2ms/step - loss: 200110948352.0000 - mse: 200110948352.0000 - val_loss: 4628290732032.0000 - val_mse: 4628290732032.0000
Epoch 42/50
751/751 [==============================] - 1s 2ms/step - loss: 24125814784.0000 - mse: 24125814784.0000 - val_loss: 310293504.0000 - val_mse: 310293504.0000
Epoch 43/50
751/751 [==============================] - 2s 3ms/step - loss: 6694.4424 - mse: 6694.4424 - val_loss: 2.3124 - val_mse: 2.3124
Epoch 44/50
751/751 [==============================] - 2s 3ms/step - loss: 17.3502 - mse: 17.3502 - val_loss: 3558.4712 - val_mse: 3558.4712
Epoch 45/50
751/751 [==============================] - 1s 2ms/step - loss: 4370205.5000 - mse: 4370205.5000 - val_loss: 25139625984.0000 - val_mse: 25139625984.0000
Epoch 46/50
751/751 [==============================] - 1s 2ms/step - loss: 54973124608.0000 - mse: 54973124608.0000 - val_loss: 3068074917888.0000 - val_mse: 3068074917888.0000
Epoch 47/50
751/751 [==============================] - 1s 2ms/step - loss: 133134237696.0000 - mse: 133134237696.0000 - val_loss: 431912321024.0000 - val_mse: 431912321024.0000
Epoch 48/50
751/751 [==============================] - 2s 2ms/step - loss: 13967505408.0000 - mse: 13967505408.0000 - val_loss: 538924646400.0000 - val_mse: 538924646400.0000
Epoch 49/50
751/751 [==============================] - 2s 3ms/step - loss: 12517550080.0000 - mse: 12517550080.0000 - val_loss: 1218122880.0000 - val_mse: 1218122880.0000
Epoch 50/50
751/751 [==============================] - 2s 2ms/step - loss: 2637679872.0000 - mse: 2637679872.0000 - val_loss: 370273681408.0000 - val_mse: 370273681408.0000

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [52]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.2675 - mse: 0.2675 - 348ms/epoch - 1ms/step
Loss: 0.26753470301628113, Accuracy: 0.26753470301628113

In [53]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 4.7071 - mse: 4.7071 - 318ms/epoch - 1ms/step
Loss: 4.707050323486328, Accuracy: 4.707050323486328

### Step 3: Save each of your alternative models as an HDF5 file.

In [54]:
# Set the file path for the first alternative model
file_path = 'venture_funding1.h5'

# Export your model to a HDF5 file
nn_A1.save(file_path)

c:\Users\donjm\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [55]:
# Set the file path for the second alternative model
file_path = 'venture_funding2.h5'

# Export your model to a HDF5 file
nn_A2.save(file_path)

c:\Users\donjm\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(